/* ----- GRID CSS SIN ESTILOS DE DISEÑO -----*/
/* ----- METODOLOGÍA: MOBILE FIRST -----*/
/*----- CREADOR: Michael Vairo -----*/

/*--- RESET ---*/
*, *:hover, *:active, *:focus, *:focus-within, *:visited{
    box-sizing: border-box;
    border-collapse: collapse;
    box-shadow: none;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
    font-style: normal;
    font-size: 14px;
    border-spacing: 0;
    background: none;
    outline: none;
    margin: 0;
    padding: 0;
    border: 0;
    color: #000;
}
/*--- RESET ---*/

/*--- CLASES GENERALES ---*/
.contenedor-full{
    position: relative;
    width: 100%;
    margin: auto;
    height: auto;
}

.contenedor{
    position: relative;
    width: 100%;
    max-width: 992px;
    margin: auto;
    height: auto;
}

.fila{
    position: relative;
    width: 100%;
    margin: auto;
    height: auto;
    clear: both;
}

[class*="col-"]{
    float: left;
}

.centrado-v{ /*--- EL PADRE TIENE QUE TENER UN HEIGHT ESTABLECIDO PARA QUE ESTA CLASE FUNCIONE ---*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.centrado-h{
    left: 50%;
    transform: translateX(-50%);
}

.texto-centrado{
    text-align: center;
}

.limpiador{
    display: table;
    width: 100%;
    clear: both;
}
/*--- CLASES GENERALES ---*/

/*--- COLUMNAS PANTALLAS MOBILE A MÁS ---*/
.col-1{
    width: 8.333333333333333%;
}
.col-2{
    width: 16.66666666666667%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33333333333333%;
}
.col-5{
    width: 41.66666666666667%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33333333333333%;
}
.col-8{
    width: 66.66666666666667%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33333333333333%;
}
.col-11{
    width: 91.66666666666667%;
}
.col-12{
    width: 100%;
}
/*--- COLUMNAS PANTALLAS MOBILE A MÁS ---*/

/*--- COLUMNAS PANTALLAS TABLET A MÁS [sm] ---*/
@media(min-width: 768px){
    .col-sm-1{
        width: 8.333333333333333%;
    }
    .col-sm-2{
        width: 16.66666666666667%;
    }
    .col-sm-3{
        width: 25%;
    }
    .col-sm-4{
        width: 33.33333333333333%;
    }
    .col-sm-5{
        width: 41.66666666666667%;
    }
    .col-sm-6{
        width: 50%;
    }
    .col-sm-7{
        width: 58.33333333333333%;
    }
    .col-sm-8{
        width: 66.66666666666667%;
    }
    .col-sm-9{
        width: 75%;
    }
    .col-sm-10{
        width: 83.33333333333333%;
    }
    .col-sm-11{
        width: 91.66666666666667%;
    }
    .col-sm-12{
        width: 100%;
    }
}
/*--- COLUMNAS PANTALLAS TABLET A MÁS [sm] ---*/

/*--- COLUMNAS PANTALLAS LAPTOPS A MÁS [md] ---*/
@media(min-width: 992px){
    .col-md-1{
        width: 8.333333333333333%;
    }
    .col-md-2{
        width: 16.66666666666667%;
    }
    .col-md-3{
        width: 25%;
    }
    .col-md-4{
        width: 33.33333333333333%;
    }
    .col-md-5{
        width: 41.66666666666667%;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-7{
        width: 58.33333333333333%;
    }
    .col-md-8{
        width: 66.66666666666667%;
    }
    .col-md-9{
        width: 75%;
    }
    .col-md-10{
        width: 83.33333333333333%;
    }
    .col-md-11{
        width: 91.66666666666667%;
    }
    .col-md-12{
        width: 100%;
    }
}
/*--- COLUMNAS PANTALLAS LAPTOPS A MÁS [md] ---*/

/*--- COLUMNAS PANTALLAS DESKTOP A MÁS [lg] ---*/
@media(min-width: 1200px){
    .col-lg-1{
        width: 8.333333333333333%;
    }
    .col-lg-2{
        width: 16.66666666666667%;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-4{
        width: 33.33333333333333%;
    }
    .col-lg-5{
        width: 41.66666666666667%;
    }
    .col-lg-6{
        width: 50%;
    }
    .col-lg-7{
        width: 58.33333333333333%;
    }
    .col-lg-8{
        width: 66.66666666666667%;
    }
    .col-lg-9{
        width: 75%;
    }
    .col-lg-10{
        width: 83.33333333333333%;
    }
    .col-lg-11{
        width: 91.66666666666667%;
    }
    .col-lg-12{
        width: 100%;
    }
}
/*--- COLUMNAS PANTALLAS DESKTOP A MÁS [lg] ---*/